<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>INDEX</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>

    <br><br>
    <h1><center>REPOSITORIO DE PROYECTOS</center></h1>
    <center>
      <div class="container">

          <div class="card">
            <div class="box">
              <div class="content">
                <h2>01</h2>
                <h3>Películas</h3>
                <p>Repositorio de Películas (Fotos y Videos)</p>
                <a href="/peliculas">Ingresar</a>
              </div>
            </div>
          </div>
    
          <div class="card">
            <div class="box">
              <div class="content">
                <h2>02</h2>
                <h3>Series</h3>
                <p>Repositorio de Series (Fotos y Videos)</p>
                <a href="/series">Ingresar</a>
              </div>
            </div>
          </div>
    
          <div class="card">
            <div class="box">
              <div class="content">
                <h2>03</h2>
                <h3>Videojuegos</h3>
                <p>Repositorio de Películas (Fotos y Videos)</p>
                <a href="/videogames">Ingresar</a>
              </div>
            </div>
          </div>
      </div>
    </center>
  </body>
</html>
