<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>VideoGames</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/pelis.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
  <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
</head>
<body>
  <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
  <div class="wrapper">

    <!-- HEADER -->
    {% comment %} <header>
      <div class="netflixLogo">
        <a id="logo" href="#home"></a>
      </div>      
      <nav class="main-nav">                
        <a href="{% url 'index' %}">Home</a>

      </nav>
      <nav class="sub-nav">
        <a href="/vg-index">Administrar</a>        
      </nav>      
    </header> {% endcomment %}
      <div style="background-color:#2A2929">
          <nav>
            <div class="header">
              <a href="">
                <div class="logo">
                  <div class="logoimg">
                    <img src="https://png.pngtree.com/png-clipart/20190921/original/pngtree-movie-board-icon-png-image_4751062.jpg">
                  </div>
                </div>
              </a>
              <div class="header__button">
                <span><a href="{% url 'index' %}">Home</a></span>
              </div>  
              <div class="prueba">   
                <a class="buttonpeli" href="/vg-index">Administrar</a>
              </div>
            </div>
          </nav> 
      </div>

    <!-- END OF HEADER -->
    
    <!-- MAIN CONTAINER -->
    <section class="main-container" >
      <div class="location" id="home">
          <h1 id="home">VideoJuegos Populares</h1>
          <div class="box">
            {% for c in data %}
            <a href="{% url 'vg_details' c.id %}"><img src="{{c.imagen.url}}" alt="" width="230px" height="245px"></a>
            
    {% endfor %}
        
          </div>
      </div>
      
    <!-- END OF MAIN CONTAINER -->
    <footer>
      <p>Equipo9 &copy 2022</p>
    </footer>
  </div>
</body>
</html>